SERVER_HOST=0.0.0.0
SERVER_PORT=4000
SOCKET_CORS_ORIGIN=*
ROSBRIDGE_URL=ws://localhost:9090
ROS_RECONNECT_INTERVAL_MS=2500
FOLLOWER_SYSTEM_ID_START=2
FOLLOWER_SYSTEM_ID_END=21
TELEMETRY_BROADCAST_INTERVAL_MS=100
ROS_TOPIC_STATUS=/ap/status
ROS_TOPIC_STATUS_TYPE=ardupilot_msgs/msg/Status
ROS_TOPIC_BATTERY=/ap/battery
ROS_TOPIC_BATTERY_TYPE=sensor_msgs/msg/BatteryState
ROS_TOPIC_NAVSAT=/ap/navsat
ROS_TOPIC_NAVSAT_TYPE=sensor_msgs/msg/NavSatFix
ROS_TOPIC_IMU=/ap/imu/experimental/data
ROS_TOPIC_IMU_TYPE=sensor_msgs/msg/Imu
ROS_TOPIC_POSE=/ap/pose/filtered
ROS_TOPIC_POSE_TYPE=geometry_msgs/msg/PoseStamped
ROS_TOPIC_TWIST=/ap/twist/filtered
ROS_TOPIC_TWIST_TYPE=geometry_msgs/msg/TwistStamped
ROS_TOPIC_AIRSPEED=/ap/airspeed
ROS_TOPIC_AIRSPEED_TYPE=ardupilot_msgs/msg/Airspeed
